.main_content
    %h1 This week's meal plan is:
    //%p= @random
    %ul
        = link_to "Generate", new_recipe_path, class: "btn btn-default"
        //@random.each do |x|
        //    %li= x.title



